html {
    font-family: 'Montserrat', sans-serif;
    background: url("../images/main-bg.jpg") no-repeat center;
    font-size: 1em;
}

body {

    background-color: transparent; 
    overflow: hidden;   
}

.main-wrapper {    
    margin: auto;
}

/* Landing/Search CSS */
header {
    position: relative;
    top: -20vh;
    height: 100vh;    
}

#landing-background {
    position: fixed;    
    background: url("../images/landing-bg.jpg") no-repeat center;
    background-size: cover;    
    height: 120vh;
    width: 100%;
    z-index: -1;
}

#landing-content {
    position: relative;
    top: -6.854em; /* Set this is negative font-size of #landing-header*/
    text-align: center;
}

#form-content {
    text-align: center;
}

#landing-container {
    position: relative;
    top: 20vh;
    width: 100%;
    height: 100%;
}

#landing-header {
    font-size: 6.854em;
    color: #fff;
    font-weight: 900;    
}

#search-container {
    background-color: rgba(30, 30, 30, 0.7);
    font-size: 2em;
    padding: 1em 1em 1em 1em;
    color: #fff;    
    border-radius: 1rem;
    width: 960px;
}

.zip-sub, .search-sub {    
    margin: 5px 0;
    font-size: .618em;
}

.suggestion {
    position: absolute;    
}

#suggestions-2 {
    top: 1em;
    opacity: .75;
}

#suggestions-3 {
    top: 2em;
    opacity: .50;
}

#suggestions-4 {
    top: 3em;
    opacity: .25;
}

#suggestions-5 {
    top: 4em;
    opacity: 0;
}


#submitSearch {
    font-weight: 900;
}

.btn-warning-reverse {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Displays CSS */
#back-to-search {
    position: absolute;
    margin: auto;
    cursor: pointer;
    background: none;
    color: #fff;
    font-weight: 900;
    border: none;
}

#main-header {    
    text-align: center;
    font-size: 3.375em;
    color: #fff;
    font-weight: 900;
}

#main-content {                
    /* border: 2px solid #444;    */
    border-radius: 2rem; 
    background-color: #fff;
}

#main-container {
    /* position: relative;
    top: -5.063em;     */
    height: 100vh;
}

#create-container, #result-container {
    padding-left: 15px;
    padding-right: 5px;
}

/* Results CSS */

.display-header{
    font-size: 2.618em;
    padding: 10px 0px 10px 0px;
    border-bottom: solid 3px #444;  
    color: #fff;
    background-color: #444444;  
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.column {
    padding: 15px;
}



.card-header {
    position: absolute;
    width: 100%;
    padding: .618em;
    background-color: rgba(68, 68, 68, 0.8);    
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 1.2em;
}

.card-img-top {
    border-radius: 0;
    object-fit: cover;
    height: 280px;
    width: 100%;
    border-bottom: 2px solid #444;
}

.cir {
    background-color: #444;     
    height: 3.375em;
    width: 3.375em;
    border-radius: 3.375em;
    border: 0px solid #fff;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}

.cir-mid {
    background-color: #FFC107;
    border-color: #444;
    color: #444;
}

.cir-group .col-4 {
    position: relative;
    padding: 0;    
    top: calc(-3.375em / 2);
    margin-bottom: calc(-3.375em / 2);
}

.pre-scrollable{
    max-height: 65vh;
    overflow-x: hidden;
}

#result-footer-text, #create-footer-text {
    border-radius: 0;
}

.join-max-seats-display {
    background-color: #444;
    color: white;
    padding: .618em 0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.no-pad {
    padding-right:0;
    padding-left:0;
}

.address {
    padding: .296em;
}

.hvr-none {
    cursor: unset !important;
}

/* Modal CSS */
.modal-header {
    background: #444;
    color: #fff;
    font-weight: 900;    
    padding: .5em;
}

.modal-title {
    text-align: center;
    width: 100%;
    font-size: 1.618em;
}

.modal-img {
    object-fit: cover;
    width: 100%;
    height: 280px;
}

.modal-body {
    padding: 0;
}

.modal-info {
    padding: 0rem 1rem 0 0;
}

.modal-section {
    padding: .5em 0;
}

.modal-footer {
    background-color: #444;
    padding: .5em;
}

h2 {
    /* font-size: 1.618em; */
    font-weight: 900;    
}


/* This is the custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

button:focus {outline:none;}
/**
 * Error Validation Style
 */
 #landingErrMsg {
    position: absolute;
    width: calc(960px - 3.226em);
    margin-top: .314em;
    font-size: .618em;
    color: #940707;
    font-weight: 900;
    opacity: 0;
 }

 /* XL */
@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 960px;
    }
}

/* LG */
@media (min-width: 992px) {
    .modal-dialog {
        max-width: 800px;
    }
}

/* MD */
@media (min-width: 768px) {
    .modal-dialog {
        max-width: 650px;
    }
}

/* SM */
@media (min-width: 576px) {
    .modal-dialog {
        /* max-width: 450px; */
    }
    
    html {
        /* color: red; */
    }
}

@media (min-width: 0px) {
    .container {
        padding: 0;
    }

    #search-container {
        /* width: 100%; */
    }
}