html {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

body {
    background-color: transparent;    
}

header {
    margin: 1.618em 0;    
}

.main-wrapper {
    width: 960px;
    margin: auto;
}

#banner {    
    height: 150px; /* This is same height as #banner-image */
}

#banner-image {
    margin-right: 10px;
}

#banner-text-group {
    height: inherit;    
}

#banner-text-main {    
    height: 50%;
    font-size: 4.236em;
    line-height: calc(150px - 1em);    
}

#banner-text-sub {    
    font-size: 1.618em;
}

#main-content-header {
    font-size: 1.618em;
}

#main-content {        
    border: 4px solid #444;
    background-color: #fff;
}

/* Landing/Search CSS */
label {
    margin-bottom: 8px;
}

#form-content {
    margin-bottom: 16px;
}

#entry-img {
    width: 100%;
}

#suggestion-header {
    width: 100%;
    text-align: center;
    background-color: #CCC;
    padding: .618em;
    margin-bottom: 15px;
}

#suggestion-content {
    border-left: 4px solid #444;    
}

#entry-content {
    padding: 15px 15px 0 15px;
}

/* Results CSS */

#result-header{
    font-size: 2.618em;
    padding: 10px 0px 10px 0px;
    border-bottom: solid 3px #444;
    margin-bottom: 15px;
}

.column {
    padding: 15px;
}

.card-header {
    background-color: #444;
    color: #fff;
}

.card button {
    border-radius: 0;
}

.card-image {
    height: 100px;
    width: 100px;
    padding: 0;
}

.card-list {
    padding: 10px 0 10px 10px;
}

.pre-scrollable{
    max-height: 450px;
}